.header {
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px groove orange;
}

.mid {
    margin-top: 5%;
    border: 1px solid green;
}

.register {
    display: block;
    margin-top: 15%;
    border: 5px inset purple;
    height: 35%;
    text-align: center;
    width: 75%;
}

